@charset "utf-8";

h1 {text-align: center}
h2 {text-align: center}
h3 {text-align: center}
p {
    text-align: center;
}
span.sisetu {
    color:#36a;
    display:block;
    text-align: center;
}

.disp-img{
    background-image: url(https://keruto-kelt.github.io/travels.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:500px;
    background-position: center;
}
.yokuzilyou{
    background-image: url(https://keruto-kelt.github.io/yokuzilyou.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:200px;
    background-position: center;
}
.sentakuki{
    background-image: url(https://keruto-kelt.github.io/sentakuki.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:200px;
    background-size:300px;
    background-position: center;
}
.silyokujidokoro{
    background-image: url(https://keruto-kelt.github.io/silyokujidokoro.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:200px;
    background-position: center; 
}
.kilyukei {
    background-image: url(https://keruto-kelt.github.io/kilyuukei.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:200px;
    background-position: center;
}
.kilyuukei {
    background-image: url(https://keruto-kelt.github.io/kilyuukei.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:300px;
    background-size: 400px;
    background-position: center;
}
.kilyakusitu {
    background-image: url(https://keruto-kelt.github.io/kilyakusitu.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:200px;
    background-position: center;
}
.ohuro {
    background-image: url(https://keruto-kelt.github.io/ohuro.webp);
    background-repeat: no-repeat;
    width:auto;
    height:400px;
    background-size:600px;
    background-position: center;
}
.sukiyaki {
    background-image: url(https://keruto-kelt.github.io/sukiyaki.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:400px;
    background-size:400px;
    background-position: center;
}
.breakfast {
    background-image: url(https://keruto-kelt.github.io/breakfast.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:400px;
    background-size:400px;
    background-position: center;
}
.sasimi {
    background-image: url(https://keruto-kelt.github.io/sasimi.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:400px;
    background-size:400px;
    background-position: center;
}
.silyokuzipict {
    background-image: url(https://keruto-kelt.github.io/silyokujidokoro.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:500px;
    background-size:600px;
    background-position: center;
}
.silyokuzibackground {
    background-image: url(https://keruto-kelt.github.io/orangeback.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:50px;
    background-size:5000px;
    background-position: center;
}
.bluebackground {
    background-image: url(https://keruto-kelt.github.io/blueback.png);
    background-repeat: no-repeat;
    width:auto;
    height:50px;
    background-size:5000px;
    background-position: center;
}
.background {
    background-image: url(https://keruto-kelt.github.io/background.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:2800px;
    background-size:5000px;
    background-position: center;
}
.oyasumiback {
    background-image: url(https://keruto-kelt.github.io/background.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:800px;
    background-size:5000px;
    background-position: center;
}
.ohuroback {
    background-image: url(https://keruto-kelt.github.io/background.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:800px;
    background-size:5000px;
    background-position: center;
}
.silyokuback {
    background-image: url(https://keruto-kelt.github.io/background.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:2200px;
    background-size:5000px;
    background-position: center;
}
.oheya {
    background-image: url(https://keruto-kelt.github.io/kilyakusitu.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:300px;
    background-size:400px;
    background-position: center;
}
.oheyaback {
    background-image: url(https://keruto-kelt.github.io/background.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:800px;
    background-size:5000px;
    background-position: center;
}
.senntakuki {
    background-image: url(https://keruto-kelt.github.io/sentakuki.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:300px;
    background-size:400px;
    background-position: center;
}
.sentakukiback {
    background-image: url(https://keruto-kelt.github.io/background.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:720px;
    background-size:3500px;
    background-position: center;
}
.yoyakuback {
    background-image: url(https://keruto-kelt.github.io/background.jpg);
    background-repeat: no-repeat;
    width:auto;
    height:720px;
    background-size:3500px;
    background-position: center;
}
